@import "https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/light/main.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}
